/* src/components/AdmissionForm.css */

.admission-form-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 60px;
  background-color: white;
  border-radius: 20px; /* Rounded corners for the form container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: normal; /* Set font weight to normal */
}

.form-label.required::after {
  content: ' *'; /* Add red star after label content */
  color: red; /* Set star color to red */
}

.form-control {
  width: 100%;
  padding: 12px; /* Adjust input field padding */
  border-radius: 8px; /* Rounded corners for input fields */
  border: 1px solid #ced4da;
}

.form-control:placeholder-shown {
  color: red; /* Change placeholder color to red for empty required fields */
}

.form-placeholder {
  font-size: 14px;
  color: #6c757d;
}

.submit-button {
  width: 20%;
  margin-top: 20px;
  border-radius: 8px; /* Rounded corners for submit button */
  background-color: darkgreen;
  padding: 10px;
  color: white;
  margin-left: 250px;
}

/* Custom styles for specific form elements */

textarea.form-control {
  resize: vertical; /* Allow vertical resizing of textarea */
}

select.form-control {
  appearance: none; /* Remove default select arrow */
}

/* Placeholder specific styles */

.form-group .form-control::placeholder {
  color: #6c757d;
  font-size: 14px;
  border-radius: 10px; /* Rounded corners for placeholder */
}





  