/* Add keyframes for zoom-in animation */
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 68, 69, 0.192);
}

.banner {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.image-slider {
  width: 100%;
  height: 100%;
  position: relative;
}

.image-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoomIn 10s infinite, slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  transition: src 2s ease-in-out;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  z-index: 10;
  font-size: 2em;
  padding: 0 20px;
  display: inline-block;
}

.navigation-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 4px;
  background-color: rgb(66, 65, 65);
}

.dot.active {
  background-color: rgb(190, 15, 15);
}

.apply-button {
  display: inline-block;
  padding: 1.1px 30px;
  font-size: 0.6em;
  font-weight: bold;
  background-color: rgb(66, 65, 65);
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 60px;
}

.apply-button:hover {
  background-color: lightgray;
}

/* Media Queries */
@media (max-width: 835px) {
  .banner-content {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  .banner-content {
    font-size: 1.3em;
  }

  .apply-button {
    font-size: 0.8em;
    width: 180px;
  }

  .admin-button {
    font-size: 0.8em;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .banner-content {
    font-size: 1.2em;
    padding: 0 10px;
  }

  .apply-button {
    font-size: 0.7em;
    width: 150px;
  }

  .admin-button {
    font-size: 0.7em;
    padding: 6px 12px;
  }
}
