.home-page {
  position: relative;
}

.banner {
  position: relative;
}

.image-slider {
  width: 100%;
  height: 90vh; /* Set height to full viewport height */
  background-size: cover; /* Ensure the image covers the entire slider area */
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity as needed */
}

.static-banner {
  position: absolute;
  top: 100px; /* Move the content downwards by increasing this value */
  width: 100%;
  text-align: center;
  z-index: 10; /* Ensure it appears above other content */
  color: white; /* Adjust the text color as needed */
}

.static-banner h1 {
  margin: 0;
  font-size: 3rem; /* Adjust the font size as needed */
}

.banner-content {
  position: absolute;
  bottom: 150px; /* Move the content upwards by increasing this value */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
}

.banner-content h1 {
  font-size: 2.5rem; /* Adjust the main title font size */
}

.banner-content p {
  font-size: 1.4rem; /* Adjust the description font size */
}

.apply-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: darkgreen; /* Adjust the button color as needed */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem; /* Adjust the button font size */
}

.apply-button:hover {
  background-color: #0056b3; /* Adjust the hover color as needed */
}

.navigation-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-bottom: 50px;
}

.dot.active {
  background-color: #007bff; /* Adjust the active dot color as needed */
}

/* Media Queries */
@media (max-width: 768px) {
  .static-banner h1 {
    font-size: 2rem; /* Decrease font size for smaller screens */
  }
  
  .banner-content {
    bottom: 100px; /* Adjust content position for smaller screens */
    left: 20px; /* Move content slightly to the left */
    transform: none; /* Remove transform for left positioning */
    text-align: left; /* Align text to the left */
  }
  
  .banner-content h1 {
    font-size: 2rem; /* Decrease font size for smaller screens */
  }
  
  .banner-content p {
    font-size: 1.2rem; /* Decrease font size for smaller screens */
  }
  
  .apply-button {
    font-size: 0.9rem; /* Decrease button font size for smaller screens */
  }
}



