/* Default styles */
.navbar {
  background-color: #ffffff;
  padding: 10px; /* Adjust overall padding */
  height: 85px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  max-width: 160px;
  height: auto;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 15px;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: #333333;
  transition: color 0.3s ease;
  font-weight: bold;
}

.nav-link:hover {
  color: red;
}

.search-icon {
  margin-right: 15px;
  cursor: pointer;
}

.enroll-button,
.admin-button {
  padding: 8px 16px;
  background-color: green;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.enroll-button:hover,
.admin-button:hover {
  background-color: darkgreen;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  display: block;
  color: #333333;
  text-decoration: none;
  padding: 8px 12px;
  transition: color 0.3s ease;
  font-weight: bold;
}

.dropdown-menu a:hover {
  color: darkred;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .navbar {
    height: auto; /* Change height to auto for responsiveness */
  }
  
  .navbar-logo img {
    max-width: 120px; /* Adjust logo size for smaller screens */
  }
  
  .nav-menu {
    display: none; /* Hide menu items by default on smaller screens */
  }
  
  .search-icon {
    display: block; /* Display search icon on smaller screens */
  }
  
  .enroll-button,
  .admin-button {
    display: none; /* Hide enroll and admin buttons on smaller screens */
  }
  
  .dropdown-menu {
    position: static; /* Change dropdown menu position to static */
    display: none; /* Hide dropdown menu by default on smaller screens */
  }
  
  .nav-item:hover .dropdown-menu {
    display: none; /* Hide dropdown menu on hover for smaller screens */
  }
}






  