.navbar {
  background-color: #ffffff;
  padding: 5px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  max-width: 240px; 
  height: auto; 
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 20px; 
}

.nav-link {
  text-decoration: none;
  color: #333333;
  transition: color 0.3s ease;
  font-weight: bold; 
}

.nav-link:hover {
  color: #00ff95; 
}

.search-icon {
  margin-right: 20px;
  cursor: pointer;
}

.enroll-button {
  padding: 10px 20px;
  background-color: green;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold; 
}

.enroll-button:hover {
  background-color: darkgreen; 
}

.dropdown-menu {
  padding: 10px;
}

.dropdown-menu a {
  display: block;
  color: #333333; 
  text-decoration: none;
  padding: 8px 12px;
  transition: color 0.3s ease;
  font-weight: bold; 
}

.dropdown-menu a:hover {
  color: blue; 
}


  