.mission-container {
    padding: 20px; 
    background-color:white;
  }
  
  .mission-item {
    margin-bottom: 20px; 
  }
  
  .mission-item h2 {
    color: red; 

  }
  
  .mission-item p {
    color: black; 
  }
  .mission-vision-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  
  .mission,
  .vision,
  .covalues {
    padding:20px 20px;
    color: darkgreen; 
    font-weight: bold;
    text-align: center;
  }
  .mission-vision-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: 2px solid darkgreen; 
  border-radius: 10px; 
}

.mission,
.vision,
.covalues {
  padding: 30px 30px;
  color: darkgreen; 
  font-weight: bold;
  text-align: center;
  
}

  
  